*,
*::after,
*::before {
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  font-family: "Poppins", sans-serif !important;
  color: white !important;
}
body {
  background-color: #0b192f !important;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main h2,
.main h3 {
  font-weight: 800;
  font-size: 4em;
}
.main h3 {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
}
.main p {
  color: aquamarine;
}
.main .objective {
  color: #ffffff;
  opacity: 0.3;
}
div.links {
  position: fixed;
  bottom: 5em;
}
.links > nav {
  background-color: #112240;
  border-radius: 1.25em;
  height: 2.5em;
  display: flex;
  align-items: center;
  border: 0.1px solid rgba(255, 255, 255, 0.1);
}
.links > nav ul {
  margin: 0px;
  height: inherit;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px;
}
.links > nav ul li {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.links > nav ul li a {
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0em 1em;
  text-decoration: none;
  color: white;
  transition: 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.links > nav ul li a:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.1) !important;
  border-radius: 1.2em;
}
.links > nav ul li a:active {
  transform: scale(0.9);
}
.workexperience {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1;
  gap: 10px;
  min-height: 40vh;
  max-width: 40vw;
}
.companies nav {
  width: inherit;
  display: flex;
  flex-direction: column;
}
.companies nav ul {
  margin: 0px;
  padding: 0px;
  height: inherit;
  list-style-type: none;
}
.companies nav ul li {
  width: inherit;
}
.companies nav ul li a {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  text-decoration: none;
  color: white;
  float: left;
  display: block;
  padding: 1em 1em;
  width: 9vw;
  transition: 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.companies nav ul li a:hover {
  background-color: #112240;
  box-sizing: border-box;
}
.companies nav ul li a:active {
  transform: scale(0.97);
}
.linkActive {
  color: #0b192f !important;
  background-color: white !important;
  border-radius: 1.2em;
}
.companyActive {
  background-color: #112240;
  box-sizing: border-box;
  border-left: 1px solid aquamarine !important;
}
div.experience > div {
  display: none;
}
div.experience > div span {
  color: aquamarine;
}
div.main > div {
  display: none;
}
.show {
  display: block !important;
}
.show_grid {
  display: grid !important;
}
.techskills h5 {
  color: rgba(255, 255, 255, 0.8);
}
.techskills p {
  color: #7fffd4 !important;
}
.contact {
  position: fixed;
  bottom: 10em;
  float: right;
  background-color: transparent;
  color: aquamarine;
  border: 1px solid white;
  border-radius: 2em;
  padding: 0.5em 1em;
  transition: 300ms ease-in-out;
}
.contact:hover {
  background-color: white;
  color: #0b192f;
}
.contact:active {
  transform: scale(0.9);
}
#myModal {
  backdrop-filter: blur(9px);
}
#myModal li {
  padding: 1em;
  list-style-type: none;
}
#myModal .modal-content {
  background: #0b192f;
}
#myModal .modal-header {
  border-bottom: none;
}
#myModal .modal-body a {
  padding: 1em;
  text-decoration: none;
  color: white;
}
#myModal .btn-close {
  background-image: none;
}
